{% include 'header.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<body>


<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
<form method="POST">

{% csrf_token %}
<div class="row">
<div class="col-12">
<div class="form-heading">
<h4>VOIP EDIT</h4>
</div>
</div>

<div class="col-12 col-md-6 col-xl-4">
<div class="form-group local-forms">
<label>Vendor <span class="login-danger">*</span></label>
<select class="form-control select" name="vendor" value="{{sip.vendor}}">
<option >Select Vendor</option>
<option value = "Siplink" {% if sip.vendor == 'Siplink'%} selected{% endif %}>Siplink</option>
<option value ="Skyfall" {% if sip.vendor == 'Skyfall' %} selected {% endif %}>Skyfall</option>
<option value ="Pulse" {% if sip.vendor == 'Pulse' %} selected {% endif %}>Pulse</option>
<option value ="Unified" {% if sip.vendor == 'Unified' %} selected {% endif %}>Unified</option>
</select>
</div>
</div>

<div class="col-12 col-md-6 col-xl-4">
<div class="form-group local-forms">
<label>Call Back Number <span class="login-danger">*</span></label>
<input class="form-control" type="text" placeholder="" name="cbn" value="{{sip.callbacknumber}}">
</div>
</div>
<div class="col-12 col-md-6 col-xl-4">
<div class="form-group local-forms">
<label>User Number <span class="login-danger">*</span></label>
<input class="form-control" type="text" placeholder="" name="usrno" value="{{sip.usernumber}}">
</div>
</div>

<div class="col-12 col-md-6 col-xl-6">
<div class="form-group local-forms">
<label>Domain <span class="login-danger">*</span></label>
<input class="form-control" type="text" placeholder="" name="domain" value="{{sip.domain}}">
</div>
</div>
<div class="col-12 col-md-6 col-xl-6">
<div class="form-group local-forms">
<label>Password <span class="login-danger">*</span></label>
<input class="form-control" type="text" placeholder="" name="psw"value="{{sip.password}}">
</div>
</div>
<div class="col-12 col-md-6 col-xl-6">
<div class="form-group local-forms">
<label>User Name <span class="login-danger">*</span></label>
<input class="form-control" type="text" placeholder="" name="user" value="{{sip.username}}">
</div>
</div>
<div class="col-12 col-md-6 col-xl-6">
<div class="form-group local-forms cal-icon">
<label>Date Of Purchase <span class="login-danger">*</span></label>
<input class="form-control datetimepicker" type="text" placeholder="" name="date" value="{{sip.dop}}">
</div>
</div>

<div class="col-12 col-sm-12">
<div class="form-group local-forms">
<label>Remarks <span class="login-danger">*</span></label>
<textarea class="form-control" rows="3" cols="30" name="remarks" value="{{sip.remarks}}"></textarea>
</div>
</div>



<div class="col-12 col-md-6 col-xl-6">
<div class="form-group local-forms">
<label>Status <span class="login-danger">*</span></label>
<select class="form-control select" name="status">
<option >Select Status</option>
<option {% if sip.status == 'In Use' %}selected {% endif %}>In Use </option>
<option {% if sip.status == 'Free' %}selected {% endif %}>Free</option>
<option {% if sip.status == 'Deactive' %}selected {% endif %}>Deactive</option>
</select>
</div>
</div>

<div class="col-12">
<div class="doctor-submit text-end">
<button type="submit" class="btn btn-primary submit-form me-2">Submit</button>
<a href="url 'voiplist' "><button class="btn btn-primary cancel-form">Cancel</button> </a>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>

</html>