{% include 'header.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<body>
<div class="page-header">
<div class="row">
<div class="col-sm-12">
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="#">IT TOOLS </a></li>
<li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
<li class="breadcrumb-item active"> IT Asset List </li>
</ul>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
	<div class="card card-table show-entire">
		<div class="card-body">

<div class="page-table-header mb-2">
<div class="row align-items-center">
<div class="col">
<div class="doctor-search-blk">

<div class="top-nav-search table-search-blk">
<form>
 {% csrf_token %}
<input id="search" type="text" class="form-control" placeholder="Search here" >
<a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
</form>
</div>
<!--
<div class="top-nav-search mob-view">

		<select id="searchInput" class=" form-control select " name="ascat">
			<option>CPU</option>
			<option>Keyboard</option>
			<option>Mouse</option>
			<option>Monitor</option>
			<option>Headset</option>
		</select>
	
</div>
-->


<div class="add-group">

<!-- <button class="btn btn-primary add-pluss ms-2" onclick="searchData()">Search</button> -->
<button class="btn btn-primary add-pluss ms-2" onclick="showAllData()">Show All</button>
<a href="{% url 'add_asset'%}" class="btn btn-primary add-pluss ms-2">  <img src="{% static 'assets/img/icons/plus.svg' %}" alt=""></a>
</div>
</div>
</div>
<div class="col-auto text-end float-end ms-auto download-grp">
	<a href="{% url 'download-excel' %}" class=" me-2"> <img src="{% static 'assets/img/icons/pdf-icon-04.svg' %}" alt=""></a>

<!--	<a href="#" class=" me-2"><img src="{% static 'assets/img/icons/pdf-icon-01.svg' %}" alt=""></a>
	<a href="javascript:;" class=" me-2"><img src="{% static 'assets/img/icons/pdf-icon-02.svg' %}" alt=""></a>
	<a href="javascript:;" class=" me-2"><img src="{% static 'assets/img/icons/pdf-icon-03.svg' %}" alt=""></a> -->

</div>

<div class="">
  <div class="table-wrapper">
    <table class="datatable mb-0" >  <!--data table.min.js iDisplayLength -->
        <thead>
			<th> Employee ID </th>
			<th> Employee Name </th>
			<th> Project </th>
			<th> Shift </th>
			<th> CPU Number </th>
			<th> Monitor Number </th>
			<th> Secondary Monitor Number </th>
        </thead>
<tbody id="data">

{% for i in endusers %}	
<tr>
		<td>{{ i.emp_id        }}</td>
		<td>{{ i.emp_name        }}</td>
		<td>{{ i.project      }}</td>
		<td>{{ i.shift       }}</td>
		<td>{{ i.cpu_id   }}</td>
		<td>{{ i.monitor_id   }}</td>
		<td>{{ i.sec_monitor_id   }}</td>	
</tr>
{% endfor %}

    </tbody>
   </table>
  </div>
 </div>
</div>
</select>




<script>
    $(document).ready(function () {
        // Search functionality
        $('#search').keyup(function () {
            var value = $(this).val().toLowerCase();
            $("#data tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });

        // Scroll to top button
        // Get the button:
        let mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }

        // Show all function
        $("#showAllButton").on("click", function () {
            // Your logic to show all data here
            // For example:
            $("#data tr").show();
        });
    });
</script>
<script>

var dataList = Array.from(document.getElementById('data').getElementsByTagName('tr'));

function showAllData() {
  dataList.forEach(function(item) {
    item.style.display = '';
  });
}

function searchData() {
  var input = document.getElementById('searchInput').value.toLowerCase();
  var dataList = document.getElementById('data').getElementsByTagName('tr');

  for (var i = 0; i < dataList.length; i++) {
    var item = dataList[i].innerText.toLowerCase();
    if (item.indexOf(input) > -1) {
      dataList[i].style.display = '';
    } else {
      dataList[i].style.display = 'none';
    }
  }
}
showAllData();

</script> 

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</html>