{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/logo.png' %}">
<title>Asset Hub</title>
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/feather/feather.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">


</head>

<body>

<div class="main-wrapper login-body">
	<div class="container-fluid px-0">
		<div class="row">
			<div class="col-lg-6 login-wrap">
				<div class="login-sec">
					<div class="log-img">
						<img class="img-fluid" src="{%static 'assets/img/Aura_Logo.png' %}" alt="Logo">
					</div>
				</div>
			</div>

<div class="col-lg-6 login-wrap-bg">
	<div class="login-wrapper">
		<div class="loginbox">
			<div class="login-right">
				<div class="login-right-wrap">
					<div class="account-logo">
					<a href="index.html"><img src="#" alt=""></a>
					</div>
	<h2>Login</h2>

				<form action="{% url 'login' %}" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label>User Name <span class="login-danger">*</span></label>
						<input class="form-control" type="text" name="username" required>
					</div>
					<div class="form-group">
						<label>Password <span class="login-danger">*</span></label>
						<input id="password" class="form-control pass-input" type="password" name="password" required>
						<span class="profile-views feather-eye-off toggle-password" onclick="togglePasswordVisibility()"></span>


				
					</div>
														<!-- Forget Password
															<div class="forgotpass">
																<div class="remember-me">
																	<label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Remember me
																	<input type="checkbox" name="radio">
																	<span class="checkmark"></span>
																	</label>
																</div> 
																<a href="">Forgot Password?</a>
															</div> -->
					<div class="form-group login-btn">
						<button class="btn btn-primary btn-block" type="submit">Login</button>
					</div>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
				
				<!--<div class="next-sign">
				<p class="account-subtitle">Need an account? <a href="register.html">Sign Up</a></p>
				</div> -->
				</form>


				</div>
			</div>
		</div>
	</div>
</div>

		</div>
	</div>
</div>

<!-- password Toggle button  -->
<script>
    function togglePasswordVisibility() {
        var passwordElement = document.getElementById('password'); // Replace 'password' with the actual ID of your password element
        if (passwordElement.type === 'password') {
            passwordElement.type = 'text';
        } else {
            passwordElement.type = 'password';
        }
    }
</script>

<script src="assets/js/jquery-3.6.1.min.js"></script>

<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/js/feather.min.js"></script>

<script src="assets/js/app.js"></script>
</body>

</html>